* {
    background-color: black;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.conteiner {
    width: 500px;
    height: fit-content;
    color: white;
    text-align: center;
    background-color: rgb(41, 39, 39);
}

h1{
    margin: 0;
    padding: 10px;
    background-color: rgb(41, 39, 39);
}

#display {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(41, 39, 39);
}

#row {
    margin: 5px;
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(41, 39, 39);
}

#numbers{
    width: 60%;
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(41, 39, 39);
}


.col {
    background-color: rgb(41, 39, 39);
}

.btn-numbers {
    width: 80px;
    height: 80px;
    color: white;
    padding: 10px;
    font-family: 8px;
    background-color: gray;
    border-radius: 5%;
}

.btn-numbers:hover {
    cursor: pointer;
}

.btn-math {
    width: 80px;
    height: 80px;
    color: orange;
    padding: 10px;
    font-family: 8px;
    background-color: gray;
    border-radius: 1px;
    margin-bottom: 4%;
}

.btn-math:hover {
    cursor: pointer;
}